.rodape{
    background-color: black;
    text-align: center;
    padding-top: 2em;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    text-align: center;
    
}

.rodape__contato {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
}